body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, select {
    margin-top: 5px;
    padding: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
}

.back-to-main-button {
    display: block;
    text-align: center;
    margin-top: 20px;
}
